body {
  margin: 25px;
  align-content: center;
  background-color: #CCDBFD
}

.ferrari1 {
  display: grid;
  align-self: center;
  justify-content: center;
}

.ferrari2 {
  display: grid;
  align-self: center;
  justify-content: center;
}

.ferrari3 {
  display: grid;
  align-self: center;
  justify-content: center;
}

.ferrari4 {
  display: grid;
  align-self: center;
  justify-content: center;
}

.louvre1 {
  display: grid;
  align-self: center;
  justify-content: center;
}

.louvre2 {
  display: grid;
  align-self: center;
  justify-content: center;
}

.louvre3 {
  display: grid;
  align-self: center;
  justify-content: center;
}

.louvre4 {
  display: grid;
  align-self: center;
  justify-content: center;
}

.louvrelogo {
  display: grid;
  align-self: center;
  justify-content: center;
}

.ferrarilogo {
  display: grid;
  align-self: center;
  justify-content: center;
}

.button {
  display: grid;
  align-self: center;
  justify-content: center;
}
