body {
  margin: 25px;
  align-content: center;
  background-color: #CCDBFD
}

.ctitle{
font-family: 'Gloria Hallelujah', cursive;
text-align: center;
color: #4C70C1
}

.link {
text-decoration: none;
color:   #986265;
}

.link:visited{
  color:   #986265;
}

.wrapper {
display:grid;
align-content: center;
justify-content: center;

}

.arrow{
align-content: center;
}

.panel{
  display:grid;
  width: 1000vw;
  align-self: center;
  justify-content: center;
  padding: 50 px;
  border: 100 px;
}

.alarm{
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 500px;
}


.button {
  align-content: center;
  display: block;

}
