body {
  margin: 25px;
  align-content: center;
  background-color: #CCDBFD
}

.ctitle{
font-family: 'Gloria Hallelujah', cursive;
font-size: 70px;
text-align: center;
color: #4C70C1
}

.link {
text-decoration: none;
color:   #986265;
}

.link:visited{
  color:   #986265;
}

.wrapper {
display:grid;
align-content: center;
justify-content: center;

}

.itemcont{
display: grid;
align-content: center;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas:
"button1 image"
"button2 image"
}

.item1{
grid-area: button1;
align-content: flex-end;
}
.item2{
grid-area: image;
}
.item3{
grid-area: button2;
align-content: flex-end;
}


.arrow{
align-content: center;
}

.panel{
  display:grid;
  align-self: center;
  justify-content: center;
  padding: 50 px;
  border: 100 px;
}

.alarmc{
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 500px;
}


.button {
width: 100px;
display: block;
margin: 0 auto;
}
