body {
  margin: 25px;
  align-content: center;
  background-color: #CCDBFD
}


.link {
text-decoration: none;
color:   #986265;
}

.link:visited{
  color:   #986265;
}

.wrapper {
display:grid;
align-content: center;
justify-content: center;

}

.panel{
  display:grid;
  align-self: center;
  justify-content: center;
  padding: 50 px;
  border: 50 px;

}

.button {
align-content: center;
text-align: center;

}
